# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Base de données (générée au premier lancement)
*.db
*.sqlite3

# Environnement
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Docker
*.log
